<html>
<head>
	<title>Reset Your Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style type="text/css">
   .active:focus{
    color: #4FC0E8;
  }

  .input-field .prefix.active {
    color:#4FC0E8;
  }
  input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #4FC0E8;
  }
  input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #4FC0E8;
    box-shadow: 0 1px 0 0 #4FC0E8;
    -webkit-box-shadow:0 1px 0 0 #4FC0E8;
  }
  input[type=password]:not(.browser-default):focus:not([readonly])+label{
    color: #4FC0E8;
  }
  input[type=password]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #4FC0E8;
    box-shadow: 0 1px 0 0 #4FC0E8;
    -webkit-box-shadow:0 1px 0 0 #4FC0E8;
  }
  a.btn{
    background: #4FC0E8;
    color: white;
  }
  a.btn:hover{
    background: white;
    color: #4FC0E8;
  }
  #uname{
    font-size: 2.5vmax;
  }
  h1{
    text-align: center;
    color: #c0392b;
  }
   
  </style>
</head>
<body>
<nav>
    <div class="nav-wrapper" style=" background: #4FC0E8;">
      <a href="#!" class="brand-logo" style="margin-left: 2%;">Sanket Life</a>
    </div>
</nav>
<% if(error){ %>
  <h1 id="tokenx"><i style="font-size:3.5vmax;" class="material-icons prefix">error &nbsp</i>Your Token has be expired !!!</h1>
<% } else{ %>
<div class="container" style="width: 40vmax;box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);  margin-top: 2%; padding: 2%; ">
  <div class="row">
    <form class="col s12" style="text-align: center;">
    <h3 style="color: #4FC0E8;text-align: center;">Password Reset</h3>
    <span ><i style="font-size:2.5vmax;" class="material-icons prefix">account_circle &nbsp</i><span id="uname"><%=username %></span> </span>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input id="pass" type="password" class="validate">
          <label for="icon_prefix">New Password</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">security</i>
          <input id="cpass" type="password" class="validate">
          <label for="icon_telephone"> Confirm Password</label>
        </div>
        <div style=" " class="input-field col s12">
          <a class="waves-effect waves-light btn" id = "submit">Submit</a>
        </div>

      </div>
    </form>
  </div>
</div>
<% } %>
<script type="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js">
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.js"></script>
<script type="text/javascript">
  //script here 
  $(document).ready(function(){
    var uname = document.getElementById('uname').innerHTML;
    console.log(uname);
    var url = window.location.href;
    url = url.split('/');
    var token = url[url.length -1];
    console.log(token);
    $("#submit").click(function(){
        var pass = $("#pass").val();
        var cpass = $("#cpass").val();
        if(cpass && pass){
        	var data = {
	          "token":token,
	          "password":pass
	        }
	        console.log(data);
	        if(pass === cpass){
	            var settings = {
	              "async": true,
	              "crossDomain": true,
	              "url": `http://40.83.251.117:80/yag/account/password/reset/${uname}`,
	              "method": "POST",
	              "headers": {
	                "content-type": "application/json"
	              },
	              "processData": false,
	              "data":JSON.stringify(data)
	            };
	            console.log(settings);
	            $.ajax(settings)
	              .done(function (response) {
	                console.log(response);
	                $(".container").html("Your Password has be changed");
	              })
	              .fail(function(response){
	                console.log(response);
	                $('.container').html('try again,server error!');
	              })

	        }else{
		          var $toastContent = $('<span>Passwords do not match</span>');
		          Materialize.toast($toastContent, 5000);
	        }
        }else{
        	Materialize.toast("All fields are required", 4000);
        }
        
    });
  })
  
</script>
</body>
</html>